.mat-table {
    overflow: auto;
    max-height: 500px;
  }
  
  .mat-column-select {
    overflow: visible;
    max-width: 50px;
  }

  .pending > *{
    font-weight: bold !important; 
    color: #cc4339 !important;
  }

  .closed > *{
    font-weight: bold !important; 
    color: #41924B !important;
  }
  
  .in-progress > *{
    font-weight: bold !important; 
    color: orange !important;
  }
  

.center{
  text-align: center;
}