

        
       
     
  <mat-table #table [dataSource]="dataSource" matSort matSortActive="name_machine" matSortDirection="asc">

    <ng-container matColumnDef="select">
      <mat-header-cell *matHeaderCellDef>
        Détails 
      </mat-header-cell>
      <mat-cell *matCellDef="let row">

          <button mat-icon-button color="primary">
            <mat-icon (click)="openDetails(row)">open_in_new</mat-icon>
          </button>
      </mat-cell>
    </ng-container>
  <!-- author Column -->
  <ng-container matColumnDef="name_machine">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Ordinateur </mat-header-cell>
      <mat-cell *matCellDef="let bug"> {{bug.name_machine.name}} </mat-cell>
    </ng-container>
    <!-- author Column -->
    <ng-container matColumnDef="email_author" >
      <mat-header-cell *matHeaderCellDef mat-sort-header> Auteur </mat-header-cell>
      <mat-cell *matCellDef="let bug"> {{bug.email_author}} </mat-cell>
    </ng-container>

    <!-- description Column -->
    <ng-container matColumnDef="description">
      <mat-header-cell *matHeaderCellDef> Description </mat-header-cell>
      <mat-cell *matCellDef="let bug"> {{bug.description}} </mat-cell>
    </ng-container>

    <!-- createdAt Column -->
    <ng-container matColumnDef="createdAt">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Date du signalement </mat-header-cell>
      <mat-cell *matCellDef="let bug"> {{bug.createdAt}} </mat-cell>
    </ng-container>

  <!-- createdAt Column -->
  <ng-container matColumnDef="status">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Statut </mat-header-cell>
      <mat-cell *matCellDef="let bug"> {{bug.status}} </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;" 
    [ngClass]="{'pending' : row.status == 'P',  'closed' : row.status == 'C', 'in-progress' : row.status == 'IP'}">
    
  
    
    </mat-row>
  </mat-table>

  