<h1 align="center" mat-dialog-title>
    Détails du signalement</h1>


<mat-form-field class="full-width">
    <input matInput placeholder="Nom de la machine" disabled value="{{data.name_machine}}">
</mat-form-field>

<table class="full-width" cellspacing="20">
    <tr>
        <td>
            <mat-form-field class="full-width">
                <input matInput placeholder="{{data.email_author}}" disabled>
            </mat-form-field>
        </td>
        <td>
            <mat-form-field class="full-width">
                <input matInput placeholder="{{data.createdAt}}" disabled>
            </mat-form-field>
        </td>
    </tr>
</table>

<p>
    <mat-form-field class="full-width">
        <textarea matInput placeholder="Description" disabled value="{{data.description}}"></textarea>
    </mat-form-field>
</p>
<div class="full-width">
    {{picture}}
</div>

<mat-dialog-actions align="center">
    <button mat-raised-button color="warn" mat-dialog-close>Fermer</button>


    <button  mat-raised-button color="primary" [mat-dialog-close]="true" [disabled]="(data.status === 'C') || data.bug_solver" (click)="takeBug(data)">Prendre en charge</button>
    
    <button mat-raised-button color="accent" [mat-dialog-close]="true" [disabled]="data.status === 'C'" (click)="closeBug(data)">Cloturer</button>
</mat-dialog-actions>