<div align="center">
  <h1>Les machines
    <button mat-raised-button color="primary" (click)="openDialog()">importer des machines</button>
  </h1>
</div>


<div class="container mat-elevation-z8">

  <mat-accordion>

    <mat-expansion-panel *ngFor="let local of locals">

      <mat-expansion-panel-header>
        <mat-panel-title>
          {{local}}
        </mat-panel-title>
        <mat-panel-description>
          Liste des machines du {{local}}
        </mat-panel-description>
      </mat-expansion-panel-header>

      <app-computers-table [local]="local" [computers]="myMap.get(local)"></app-computers-table>

    </mat-expansion-panel>

  </mat-accordion>

</div>