.container {
    display: flex;
    flex-direction: column;
    max-height: 500px;
    min-width: 300px;
}  
.mat-table {
    overflow: auto;
    max-height: 500px;
}
.mat-header-cell.mat-sort-header-sorted {
    color: black;
}
.header {
    min-height: 64px;
    padding: 8px 24px 0;
}
.mat-form-field {
    font-size: 14px;
    width: 100%;
}
.inputFile{
    width: 100%;
}
.full-width {
    width: 100%;
}
.dialogTitle{
    color: white;
}