<table class="full-width" cellspacing="0">
    <tr>
        <td></td>
        <td>
            <mat-dialog-actions>
                    <button mat-dialog-close mat-icon-button color="warn">
                            <mat-icon>close</mat-icon>
                          </button>
            </mat-dialog-actions>
        </td>
    </tr>
    <tr>
        <td>
            <h2 mat-dialog-title class="dialogTitle">Importer des machines</h2>
        </td>
    </tr>
</table>

<mat-dialog-content>
    Selectionner un fichier csv permettant d'ajouter des machines.
</mat-dialog-content>
<form (ngSubmit)="onSubmit(form)">
    <input type="file" (change)="onChangeFile($event.target.files)"/>
    <button type="submit" mat-button>Importer</button>
</form>