<div>
  <div class="header">
    <mat-form-field>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
    </mat-form-field>
  </div>

  <mat-table #table [dataSource]="dataSource" matSort matSortActive="computerName" matSortDirection="asc">
    
    <ng-container matColumnDef="computerName">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Nom de la machine </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="ipAddress">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Adresse IP </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.ip}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="macAddress">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Adresse MAC </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.mac_address}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="comment">
      <mat-header-cell *matHeaderCellDef> Commentaire </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.comment}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="active">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Active </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.active}} </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>  
  </mat-table>
  
  <mat-paginator #paginator
    [pageSize]="10"
    [pageSizeOptions]="[5, 10, 25, 100]">
  </mat-paginator>

</div>