<mat-card>
    <mat-card-header>
        <mat-card-title>Connection</mat-card-title>
    </mat-card-header>

    <mat-card-content>
        <div>


            <form class="full-width">
                <mat-form-field class="full-width">
                    <input matInput name="email" placeholder="Email" [formControl]="emailFormControl" [errorStateMatcher]="matcher">
                    <mat-hint>email de type @vinci.be</mat-hint>
                    <mat-error *ngIf="emailFormControl.hasError('pattern') || (emailFormControl.hasError('email') && !emailFormControl.hasError('required'))">
                        Email invalide
                    </mat-error>
                    <mat-error *ngIf="emailFormControl.hasError('required')">
                        Email
                        <strong>requis</strong>
                    </mat-error>
                </mat-form-field>

                <mat-form-field class="full-width">
                    <input matInput [formControl]="passwordFormControl" [errorStateMatcher]="matcher" placeholder="Password" [type]="hide ? 'password' : 'text'">
                    <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
                    <mat-error *ngIf="passwordFormControl.hasError('minLength')">
                        Password trop court
                    </mat-error>
                    <mat-error *ngIf="passwordFormControl.hasError('required')">
                        Password
                        <strong>requis</strong>
                    </mat-error>
                </mat-form-field>
            </form>
        </div>
    </mat-card-content>
    <mat-card-actions align="center">
        <button mat-raised-button [disabled]="emailFormControl.status != 'VALID' || passwordFormControl.status != 'VALID'" (click)="login()"
            color="primary">Login</button>
        <button mat-raised-button [routerLink]="['/register']">Register</button>
    </mat-card-actions>
</mat-card>