<mat-card>
    <mat-card-header>
        <mat-card-title>Remonter un problème</mat-card-title>
    </mat-card-header>

    <mat-card-content>
        <div>

            <div id="big-div" class="list-group">
                <section>
                    <div class="panel">
                        <form id="reportingForm" [formGroup]="form" name="reportForm" class="example-form" novalidate>
                            <!--<b>Report a bug</b>-->
                            <p>
                                <mat-form-field class="email-field">
                                    <input matInput name="email_author" formControlName="email" type="email" placeholder="Entrez votre email" required class="ng-pristine ng-invalid"
                                    />
                                    <mat-hint>Adresse @student.vinci.be ou @vinci.be</mat-hint>
                                    <mat-error *ngIf="email.invalid">{{getErrorMessageEmail()}}</mat-error>
                                </mat-form-field>
                            </p>
                            <p>
                                <mat-form-field class="name-field">
                                    <input matInput id="idNameField" name="name_machine" type="text" formControlName="name" placeholder="Nom machine" value="{{getComputerName()}}"
                                        required class="ng-pristine ng-invalid" />
                                    <mat-error *ngIf="name.invalid ">{{getErrorMessageName()}}</mat-error>
                                </mat-form-field>
                            </p>
                            <p>
                                <mat-form-field class="description-field">
                                    <textarea matInput name="description" formControlName="description" placeholder="Description" required class="ng-pristine ng-invalid"></textarea>
                                    <mat-error *ngIf="description.invalid">{{getErrorMessageDescription()}}</mat-error>
                                </mat-form-field>
                            </p>
                            <p>
                                <label>Photo du bug : </label>
                                <input id="idImageBug" type="file" name="imageBug" formControlName="image" accept="image/*" (change)="handleFileInput($event.target.files)"
                                />
                            </p>
                            <br>
                           
                        </form>
                    </div>
                </section>
            </div>
        </div>
    </mat-card-content>
    <mat-card-actions align="center">
        <div ng-cloak>
            <button mat-raised-button color="primary" type=" submit " (click)="onSubmit($event) && showToast() ">Reporter le bug</button>
        </div>
    </mat-card-actions>
</mat-card>