<!DOCTYPE HTML>
<html>
  <head>
    <title>qrcode</title>
    <style>
      div.place0
      {
        float: right;
        width:50%;
        max-width: 50%;
        min-width: 50%;
      }
      div.place1
      {
        float: left;
        width:50%;
        max-width: 50%;
        min-width: 50%;
      }
      div.unbreak
      {
        page-break-inside:avoid;
        -moz-break-inside : avoid;
      }
      div.centrer
      {
        text-align : center;
      }
      </style>
  </head>
  <body>
    <div>
        <% var i=0; _.each(machines, function (machine) { i++; %>
          <div class='unbreak place<%=(i%2) %> centrer'>
            <h2><%=machine['name'] %></h2>
            <img src='<%=machine['qrcode'] %>' />
            <p>Scanner le code pour déclarer un bug.</p>
          </div>  
          <% }) %>
    </div>
  </body>
</html>