<div style="height: 100vh;">

  <mat-toolbar color="primary">

    <span>{{title}}</span>

    <span class="example-spacer"></span>



    <span class="example-spacer"></span>

    <div align="center" fxShow="true" fxHide.lt-md="true">

      <button mat-button (click)="import()">Importer Machines</button>
      <button mat-button (click)="consult()">Consulter Bugs</button>
      <a color="warn" href="/api/qrcode/pdf" mat-raised-button target="_blank">Générer Qr Code</a>

    </div>

    <div fxShow="true" fxHide.gt-sm="true">

      <button style="align-self: end" mat-icon-button color="accent" (click)="sidenav.toggle()">
        <mat-icon>list</mat-icon>
      </button>

    </div>

  </mat-toolbar>

  <mat-sidenav-container fxFlexFill class="example-container">

    <mat-sidenav #sidenav fxLayout="column">
    
      <div style="margin-top:10px;" class="example-spacer" fxLayout="column">
        <!--
        <button style="align-self: end" mat-icon-button color="warn" (click)="sidenav.toggle()">
          <mat-icon>close</mat-icon>
        </button>
      -->
      

        <button style="margin-top:10px;" color="primary" mat-raised-button (click)="import()">Importer Machines</button>
     

        <button style="margin-top:10px;" color="primary" mat-raised-button (click)="consult()">Consulter Bugs</button>

        <a style="margin-top:10px;" color="warn" href="/api/qrcode/pdf" mat-raised-button target="_blank">Générer Qr Code</a>

      </div>

    </mat-sidenav>

    <mat-sidenav-content fxFlexFill>
      <div>
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>

  </mat-sidenav-container>

</div>