
@import "~@angular/material/prebuilt-themes/pink-bluegrey.css";

html{
 width: 100%;
}

h1, h2 {
  color: seashell;
}
.full-width {
  width: 100%;
}

.mat-card {    
  text-align: -webkit-center;    
}    
  
.demo-toolbar {    
  display: flex;    
  align-items: center;    
  width: 100%;    
}    
  
.demo-form {    
  min-width: 150px;    
  max-width: 500px;    
  width: 100%;    
}    
  
.demo-full-width {    
  width: 100%;    
}    
  
body {    
  background-color: rgb(48,48,48);
  margin: 0;    
  font-family: Roboto, sans-serif;    
}    
  
mat-card {    
  max-width: 500px;    
  margin: 2em auto;    
  text-align: center;    
}    


mat-toolbar {    
  justify-content: space-between;    
}    
  
.done {    
  position: fixed;    
  bottom: 20px;    
  right: 20px;    
  color: white;    
}    
  
.content-center {    
  text-align: -webkit-center;    
}    