<div align="center">
  <h1>Liste des Bugs par Local</h1>
</div>
<div class="container">

  <mat-accordion>

    <mat-expansion-panel *ngFor="let local of locals; let i = index">

      <mat-expansion-panel-header>
        <mat-panel-title>
          <h1 style="width: 100%; text-align: center;">{{local}} </h1>
        </mat-panel-title>

      </mat-expansion-panel-header>

      <app-bugs-table [local]="local"></app-bugs-table>

    </mat-expansion-panel>
  </mat-accordion>
</div>